<% include ./partials/header %>

<div class = 'container'>

  <header class = 'jumbotron'>
    <h1>Welcome to YelpCamp!</h1>
    <p>View our hand-picked campgrounds from all over the world.</p>
    <p class = 'btn btn-primary'>
      <a href = '/campgrounds/new' style = 'color: white; text-decoration: none'>Create New Campground</a>
    </p>
  </header>

  <div class = 'row mb-4'>
    <% campgrounds.forEach ((campground) => { %>
      <div class = 'col-lg-3 col-md-4 col-sm-6'>
        <div class = 'img-thumbnail h-100'>
          <img src = '<%= campground.image %>' width = '100%'>
          <div class = 'caption text-center mt-2'>
            <h6><%= campground.name %></h6>
          </div>
        </div>
      </div>
    <% }); %>
  </div>

</div>

<% include ./partials/footer %>
