<% include ./partials/header %>

<div class = 'container'>

  <header class = 'jumbotron'>
    <h1>Create New Campground</h1>

    <div class = 'row'>
      <form class = 'col-lg-6 col-md-8 p-3' action = '/campgrounds' method = 'POST'>
        <input class = 'form-control mb-3' type = 'text' name = 'name' placeholder = 'Campground Name ...'>
        <input class = 'form-control mb-3' type = 'text' name = 'image' placeholder = 'Image URL ...'>
        <input class = 'btn btn-primary col-md-6' type = 'submit' value = 'Add Campground' class = 'btn btn-primary'>
        <a class = 'float-right mt-2' href = '/campgrounds'>View the Campgrounds</a>
      </form>
    </div>
  </header>

</div>

<% include ./partials/footer %>
