<% include ./partials/header %>

<div class = 'container'>

  <header class = 'jumbotron'>
    <h1>Authentication Demo using passport.js</h1>
    <p>Demonstrates Authentication Concepts</p>
    <hr>
    <img class = 'img-thumbnail img-fluid col-md-8 mx-auto d-block' src='https://images.unsplash.com/photo-1515524738708-327f6b0037a7'>
    <hr>
    <a class = 'btn btn-primary' href = '/secret' role = 'button'>Go to "Secret" page</a>
  </header>

</div>

<% include ./partials/footer %>
