<% include ./partials/header %>

<div class = 'container'>

  <header class = 'jumbotron text-center'>
    <h2>The Ultimate Question of Life, the Universe and Everything</h2>
    <hr>
    <img class = 'img-thumbnail' src='https://res.cloudinary.com/teepublic/image/private/s--AA-cMDTi--/t_Preview/b_rgb:191919,c_limit,f_jpg,h_630,q_90,w_630/v1446086175/production/designs/49141_0.jpg' width=400px >
  </header>

</div>

<% include ./partials/footer %>
